<div *ngIf="user" class="container">
    <div class="button-container">
        <button kendoButton class="btn-add" (click)="goBack()">Go to users</button>
        <button kendoButton class="btn-add" (click)="openUserModal()">Edit User</button>  
    </div>

    <div class="user-info">
        <div class="user-info_person">
            <h1>User Details</h1>
            <div class="user-info-item">
                <strong><span>First Name</span></strong>
                <span>{{ user.firstName }}</span>
            </div>
            <div class="user-info-item">
                <strong><span>Last Name</span></strong>
                <span>{{ user.lastName }}</span>
            </div>
            <div class="user-info-item">
                <strong><span>User name</span></strong>
                <span>{{ user.username }}</span>
            </div>
            <div class="user-info-item">
                <strong><span>Email</span></strong>
                <span>{{ user.email }}</span>
            </div>
            <div class="user-info-item">
                <strong><span>Address</span></strong>
                <span>{{ user.address.street }} {{ user.address.building }} {{ user.address.city }} {{
                    user.address.zipcode }}</span>
            </div>
            <div class="user-info-item">
                <strong><span>Phone</span></strong>
                <span>{{ user.phone }}</span>
            </div>
            <div class="user-info-item">
                <strong><span>Website</span></strong>
                <span>{{ user.website }}</span>
            </div>
            <div class="user-info-item">
                <strong><span>Company</span></strong>
                <span>{{ user.company.name }} {{ user.company.scope }}</span>
            </div>
        </div>
        <app-post *ngIf="posts" [posts]="posts">
        </app-post>
    </div>

</div>

<app-user-modal *ngIf="isUserModalDialogVisible" [user]="user" [isUserDetailFormEdit]="isUserDetailFormEdit"
    (updatingUserDetail)="updateUser($event)">
</app-user-modal>
