
<div>
  <button kendoButton class="k-primary open-user-modal-btn" (click)="addUser()">Add user</button>
  <button kendoButton class="k-primary open-user-modal-btn" type="submit" (click)="submit()">Save users</button>
<kendo-grid
  [data]="users"
  (edit)="editUser($event.dataItem)"
  (cellClick)="cellClickHandler($event)"
  (dblclick)="doubleClick()">

  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="email" title="Email"></kendo-grid-column>
  <kendo-grid-column field="address" title="Address"></kendo-grid-column>
  <kendo-grid-column field="phone" title="Phone">
    <ng-template kendoGridCellTemplate format="{0:n0}" let-dataItem>
      <a href="#" class="badge badge-info">{{ dataItem?.phone | phone }}</a>      
  </ng-template>
  </kendo-grid-column>
  <kendo-grid-command-column class="button-container" title="Update">
    <ng-template kendoGridCellTemplate>
      <button class="btn-add" kendoGridEditCommand (click)="openModal()">Edit</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
</div>

<app-user-modal
*ngIf="isUserModalDialogVisible"
(changingUser)="changedUser($event)"
(updatedUsersFromTable)="viewUpdatedUser($event)"
[user]="user"
[users]="users">
</app-user-modal>

