<kendo-dialog *ngIf="user" title="Update User" (close)="closeModal()" [minWidth]="800">
    <div style="height:800px; overflow:auto; padding:1.143em; margin:-1.143em;">
        <app-user-form [user]="user"></app-user-form>

        <div class="button-container">
            <button class="button" type="submit" (click)="closeModal()">Cancel</button>
            <button class="button" (click)="applyUser($event)">{{(isFormForEdit || isUserDetailFormEdit) ? 'Apply' : 'Add'}}</button>
        </div>
    </div>

</kendo-dialog>