<div class="post">
    <div class="post-info">
        <div class="btn-group">
            <button kendoButton class="k-primary open-post-modal-btn" (click)="editPost(post)">Edit post</button>
            <button kendoButton icon="delete" [primary]="false" (click)="deletePost()">Delete post</button>
        </div>
        <h1>{{post.title}}</h1>
        <p>{{post.body}}</p>
    </div>
</div>

<app-post-modal
*ngIf="isPostModalDialogVisible"
(updatePosts)="getUpdatedPost($event)"
[post]="updatedPost"
[userId]="post.userId">
</app-post-modal>

